<li class="question" id="question_<%= question.id %>">
  <h3><%=link_to h(question.body || '#'), question_path(:id => question.id) %></h3>
  <p class="byline">
    <span>von</span> <strong><%= userinfo(question.author) %></strong> am <%= question.created_at.strftime('%d.%m.') %>,
    <span>
    <% if question.reply %>
      beantwortet am <%= question.reply_created.strftime('%d.%m.') %>
    <% else %>
      noch unbeantwortet
    <% end %>
    </span>
  <% if cs = question.comments.count %>
    <% if cs > 0 %>
      <span class="comment-count">&ndash; <%= cs %> Kommentar<%= "e" if cs > 1 %></span>
    <% end %>
  <% end %>
  </p>
</li>
