<li class="task" id="task_<%= task.id %>">
  <h3><%=link_to h(task.title || '#'), '' %></h3>
  <p class="byline">
    <strong><%= task.participants.count %></strong> eingetragene Helfer seit <%= task.created_at.strftime('%d.%m.') %>
    <% if (cs = task.comments.count && cs && cs > 0) %>
      <span class="comment-count">Kommentare: <%= cs %></span>
    <% end %>
  </p>
</li>
