<div class="page" id="task">
  <div class="header">
    <%= link_to "Zurück zu Projekt #{h @task.project.title}", projectpage_url(:slug => @task.project.slug), :class => "backbutton" %>
    <h2><%= h @task.title %></h2>
  </div>
  <div class="content">

    <p class="body">
      <%=h @task.body %>
    </p>
    
    <div class="byline">
      Angelegt
      <% if @task.creator %>
        von <%= @task.creator.name %>
      <% end %>
      am <%= @task.created_at.strftime(CONFIG["date"]) %>
    </div>
           
    <div id="participate">
      <% unless logged_in? && current_user.participating_tasks.include?(@task) %>
        <%= link_to "Ich mache mit!", url_for(:action => :participate, :id => @task.id), :class => "button signup_required" %>
        <p>
          <strong>Kannst du etwas Zeit in diesen Task investieren?</strong> Dann melde dich bitte hier.
          Jemand, der für dieses Projekt verantwortlich ist, wird sich
          bald bei dir melden!
        </p>
      <% else %>
        <strong>Du bist als Mithelfer eingetragen.</strong>
      <% end %>
    </div>
    
    <div id="users">
      <h4>Mithelfer</h4>
      <ul>
        <%= render(:partial => 'shared/user', :collection => @task.participants) if @task.participants %>
      </ul>
    </div>
    
    <%= render(:partial => 'shared/comments', :locals => { :object => @task }) if @task.comments %>

  </div>
</div>