      <div class="comments">
        <% if cs = object.comments.count %>
          <% if cs > 0 %>
            <h4 class="comment-count"><%= cs %> Kommentar<%= "e" if cs > 1 %></h4>
          <% end %>
        <% end %>
        <%= render :partial => 'shared/comment', :collection => object.comments %>
  
        <div class="navbar">
        
          <a href="#" class="toggle trigger-comment signup_required button">Kommentar abgeben</a>
          <div class="hidden toggle target-comment">
            <% form_for(Comment.new) do |f| %>
              <%= hidden_field_tag (object.class.to_s.downcase+'_id').to_sym, object.id %>
              <%= f.text_area :body, :cols => 45, :rows => 7 %><br/>
              <%= f.submit 'Kommentar abschicken' %>
            <% end %>
          </div>
        
        </div>
  
      </div>   