<div class="event<%= " nearme" if @constituency && @constituency == event.constituency %>">
  <div class="calendar">
    <div class="d"><%= event.day %></div>
    <div class="m"><%= event.month %></div>
  </div>
  <%= "<div class=\"myconstituency\">Dein Wahlkreis</div>" if @constituency && @constituency == event.constituency %>
  <div class="desc">
    <h3><%= event.title %></h3>
    <% if c = event.constituency %>
      <p>Wahlkreis <%= link_to c.full_name, url_for(:controller => 'geo', :action => 'local', :name => c.url_friendly_name) %></p>
    <% end %>
    <%= event.time.strftime('%H:%M') %> <%= event.location %> 
  </div>
</div>
