  <div class="box" id="map-container">
    <h2>
      <% if !logged_in?  %>
        <div class="right"><a href="#" onclick="Map.login();">Login</a></div>
      <% end %>
      <%= title %>
    </h2>
    <div class="content mapcontent">
      <iframe id="map"<% if !postpone_loading %>src="/map?<%= Time.now.to_i %>"<%end%>></iframe>
    </div>
    <div class="content switchbox_step1" style="height: 237px">
      <div id="progress">
        <div class="bar" style="width:<%= @current_user_percent %>%"></div>
        <%= @current_user_percent %>%
      </div>

      <% if !logged_in? %>
  
        <div id="step1" class="switchbox">       
          <% remote_form_for :user, :url => users_path, :html => { :id => 'map_overlay_signup', :class => "map_overlay" } do |f| -%>
            <!--p id="signup_name">
              <label for="name">Name</label>
              <%= f.text_field :name, :value => "(oder Pseudonym)", :onclick => "if(this.value == '(oder Pseudonym)') this.value = '';" %>
            </p-->
            <p id="signup_email">
              <label for="email">Email</label>
              <%= f.text_field :email %>
            </p>
            <!--p id="signup_town">
              <label for="town">Ort</label>
              <span id="town_district">
                <span id="town">
                  <%= text_field_with_auto_complete(:user, :town, {}, {:after_update_element => "function(e,v) { Map.place_marker(e.value); }", :url => autocomplete_town_users_path, :frequency => 0.5}) %>
                </span>
                <span id="district">
                  <select id="user_district" name="user[district]" autocomplete="off" onchange="if(this.options[this.selectedIndex].value=='other') { Map.toggle_vienna_dropdown(false); }">
                    <option value="wien">Wien...</option>
                    <% for district in Town.vienna_districts %>
                      <option value="<%= district.id %>"><%= district.name %></option>
                    <% end %>
                    <option value="other">Außerhalb...</option>
                  </select>
                </span>
              </span>
            </p-->
            <p>
              <%= submit_tag 'Farbe bekennen' %>
              <a class="disclaimer" href="/datenschutz" target="_top">Datenschutz-Erklärung</a>
            </p>
          <% end %>
          oder
          
          <!--fb:login-button show-faces="true" width="200" max-rows="1" /-->
          <fb:login-button perms="email"></fb:login-button>

          <div id="fb-root"></div>

          <div id="fb-userinfo"></div>          
        </div>

        <div id="login" class="switchbox">
          <% form_remote_tag :url => session_path, :method => 'post', :html => { :class => "map_overlay", :id => "map_overlay_login" } do %>
            <p id="signup_mailaddr">
              <label for="email">Email</label>
              <%= text_field_tag :email %>
            </p>
            <p id="signup_password">
              <label for="password">Passwort</label>
              <%= password_field_tag :password %>
              <br /><small>(wurde dir bei der Anmeldung per E-Mail geschickt)</small>
            </p>
            <p><%= submit_tag 'Einloggen' %></p>
          <% end %>
        </div>
      
      <% end %>
      
    </div>
  </div>

