<p>
  <b>Title:</b>
  <%=h @reason.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @reason.body %>
</p>

<p>
  <b>Rating:</b>
  <%=h @reason.rating %>
</p>


<%= link_to 'Edit', edit_reason_path(@reason) %> |
<%= link_to 'Back', reasons_path %>
