<% content_for :javascript do %>
    <%= javascript_include_tag 'wahlkreise','map_overlays' %>
    <%= GMap.header :hl => 'de' %>
<% end %>

<% content_for :css do %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/2.5.2/build/reset/reset-min.css" type="text/css" />
<% end %>


<%= @map.to_html %>
<script type="text/javascript">
  window.onload = addCodeToFunction(window.onload,function() {
    makePoly(map);
  });
</script>

<div class="box" id="map">
  <h2>LIF lokal</h2>
  <div class="content">
    <%= @map.div(:width => 720, :height => 400) %>
  </div>
</div>

<div class="box" id="projects">
  <h2>Jetzt mithelfen</h2>
  <div class="content">
    <ul>
      <li>Some</li>
      <li>static</li>
      <li>stuff</li>
      <li>here</li>
    </ul>
  </div>
</div>

<div id="signup">
  <% unless logged_in? %>
      <% form_remote_tag :url => signup_url  do %>
        <div>
          Name: <%= text_field_tag 'name' %><br/>
          E-Mail: <%= text_field_tag 'email' %><br/>
          Postleitzahl: <%= text_field_tag 'zip' %><br/>
          <%= submit_tag "Ja, ich will!" %>
        </div>
      <% end %>
  <% end %>
</div>
