<% form_for (@task ? [@task.project, @task] : [project, Task.new]), :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
  <%= f.submit "Speichern" %>
  <% if @task %>
    oder <%= link_to 'zurück', adminprojects_path %>
  <% end %>
  </p>
<% end %>

