<div class="page" id="project">
  <div class="header">
    <%= link_to "Zurück zu den Projekten", projects_url, :class => "backbutton" %>
    <h2><%= h @project.title %></h2>
  </div>
  <div class="content">

    <div class="body"><%=h @project.body %></div>

    <p><br /><fb:like></fb:like></p>
           
    <div id="tasks">
      <h4>Hilf mit!</h4>
      <%= render(:partial => 'shared/tasks', :locals => { :project => @project }) if @project.active_tasks %>
    </div>
    
    <%= render(:partial => 'shared/comments', :locals => { :object => @project }) if @project.comments %>

  </div>
</div>