<div class="page">
  <div class="header">
    <%= link_to "&larr; Zurück zur Startseite", root_path, :class => 'backbutton' %>
    <h2>Buttons für Blog, Profil & Website</h2>
  </div>
  <div class="content">

    <h4>Den <%= CONFIG["org_title"] %>-Button in dein Profilbild einfügen</h4>
    
    <div style="overflow:hidden">
      <img src="/images/portrait-with-button.png" style="display: block; float: left; margin-right: 1em" />
      <% form_tag '/geo/image_overlay', :multipart => true, :style => 'float: left; padding-top: 2em' do %>
        Bild raufladen:
        <%= file_field_tag "image" %><br /><br />
        <%= submit_tag  "Button einfügen" %>
      <% end %>
    </div>   
    
    <h4>Buttons</h4>
      
    <ul id="buttons">
      <li>
        <div class="button_image">
          <img src="/images/buttons/diesmal-lif-transparent.png" />
        </div>
        <div class="button_code">
          <h4>.... (Transparenter Hintergrund, für moderne Browser)</h4>
          <textarea onclick="this.select()"><a href="<%= CONFIG["url"] %>" title="<%= CONFIG["sharing_title"] %>"><img src="<%= CONFIG["url"] %>/images/buttons/....png" style="border:0" /></a></textarea>
        </div>
      </li>
    </ul>
  
  </div>
</div>
