<div class="page" id="privacypolicy">
  <div class="header">
    <%= link_to "&larr; Zurück zur Startseite", root_path, :class => 'backbutton' %>
    <h2>Datenschutzerklärung</h2>
  </div>
  <div class="content">
  
    <p>    
      Das <%= CONFIG["org_title"] %> nimmt den Schutz deiner persönlichen Daten sehr ernst und
      hält sich strikt an die Regeln der Datenschutzgesetze. Personenbezogene Daten werden
      auf dieser Webseite nur im technisch notwendigen Umfang oder nach freiwilliger
      Registrierung erhoben. In keinem Fall werden
      die erhobenen Daten verkauft oder aus anderen Gründen an Dritte weitergegeben.
    </p>
    <p>
      Die nachfolgende Erklärung gibt dir einen Überblick darüber, wie wir diesen Schutz
      gewährleisten und welche Art von Daten zu welchem Zweck erhoben werden.
    </p>

    <h4>Registrierung</h4>
    <p>
      Wenn du auf <%= CONFIG["title"] %> mitdiskutieren, Ideen einbringen etc. willst, benötigen wir von dir
      folgende Daten:
      <ul>
        <li><b>Benutzername</b> (Name, Pseudonym, Nickname o.Ä.): Wird neben Beiträgen angezeigt.</li>
        <li><b>E-Mail-Adresse oder Facebook Benutzer-ID</b>: Dient dazu, dir ein Passwort zum Wieder-Einloggen, sowie Nachrichten und Veranstaltungshinweise in deiner Umgebung zu senden. Eine Abbestellung jeglicher Nachrichten ist jederzeit möglich.</li>
        <li><b>Ort</b>: Dient zur Anzeige von lokalen Veranstaltungen.</li>
      </ul>
      Weitere Daten werden nicht erhoben.
    </p>

    <p>
      Du kannst nicht nur deine Einwilligung zur Speicherung dieser Daten jederzeit widerrufen, sondern
      sie auch jederzeit auf folgender Seite selbst löschen: <%= link_to "Benutzerdaten löschen", url_for(:controller => 'users', :action => 'deleteme') %>
    </p>
    
    <h4>Drittanbieter</h4>
    
    <p>
      Zur Lokalisierung der registrierten Benutzer und für die Darstellung der Karte wird <strong>Google Maps</strong>
      (<a href="http://www.google.com/intl/de_ALL/help/terms_maps.html">Nutzungsbedingungen</a>) verwendet.
    </p>
    <p>
      Zur Registrierung wird optional <strong><a href="http://www.facebook.com/policy.php">Facebook Connect</a></strong> verwendet.
    </p>
    <p style="font-weight: bold">
      An keinen der Dienste von Drittanbietern werden jegliche personenbezogene Daten weitergegeben.
    </p>
    
    <h4>Logfiles</h4>
    <p>
      Dieser Server erhebt und speichert automatisch wie im Internet üblich zur statistischen Auswertung
      Logfiles mit anonymisierten Informationen, die dein Browser an uns übermittelt. Dies sind:
      <ul>
        <li>Browsertyp/ -version</li>
        <li>verwendetes Betriebssystem</li>
        <li>Referrer URL (die Seite, über deren Link [falls vorhanden] du auf <%= CONFIG["title"] %> gekommen bist)</li>
        <li>Hostname des zugreifenden Rechners (IP Adresse)</li>
        <li>Uhrzeit der Serveranfrage</li>
      </ul>
    </p>
    
    <p>
      Diese Daten sind für <%= CONFIG["title"] %> nicht bestimmten Personen zuordenbar.
      Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
    </p>

    <h4>Cookies</h4>
    <p>
      Diese Seite verwendet so genannte „Session-Cookies“, um registrierte und eingeloggte Besucher
      über mehrere Seitenaufrufe hinweg wiederzuerkennen. Cookies richten auf deinem Rechner
      keinen Schaden an und können keine Viren enthalten.
    </p>

    <h4>Auskunftsrecht</h4>
    <p>
      Du hast jederzeit das Recht auf Auskunft über die bezüglich deiner Person gespeicherten Daten,
      deren Herkunft und Empfänger sowie den Zweck der Speicherung. Auskunft über die gespeicherten
      Daten gibt der Datenschutzbeauftragte von <%= CONFIG["title"] %> <%= CONFIG["privacy_officer_email_link"] %>.
    </p>

    <h4>Weitere Informationen</h4>
    <p>
      Dein Vertrauen ist uns wichtig. Daher möchten wir dir jederzeit Rede und Antwort bezüglich
      der Verarbeitung deiner personenbezogenen Daten stehen. Wenn du Fragen hast, die dir diese
      Datenschutzerklärung nicht beantworten konnte oder wenn du zu einem Punkt vertiefte Informationen
      wünschst, wende dich bitte jederzeit an den Datenschutzbeauftragten von <%= CONFIG["title"] %>
      <%= CONFIG["privacy_officer_email_link"] %>.
    </p>

  </div>
</div>
