  <div class="boxrow">
  
    <%= map_box('Armin Soyka ins Rathaus') %>
    
    <div class="box">
      <iframe src="http://www.facebook.com/plugins/likebox.php?id=<%= CONFIG["facebook_page_id"] %>&amp;width=260&amp;connections=5&amp;stream=true&amp;header=false&amp;height=260" scrolling="no" frameborder="0" style="background: #fff; border:none; overflow:hidden; width:260px; height:260px;" allowTransparency="true"></iframe>
    </div>
    
    <!--div class="box" id="tasks">
      <h2>Jetzt aktiv werden</h2>
      <div class="content">
        
        <% if @tasks.size > 0 %>
          <ul>
            <% @tasks.each { |task| %>
              <%= render :partial => 'tasks/task', :locals => { :task => task } %>
            <% } %>
          </ul>
          <%= link_to "Weitere Projekte...", task_list_path, :class => 'more' %>
        <% else %>
            Leider derzeit keine Tasks.
        <% end %>                

      </div>
    </div-->

  </div>
  
  <div class="boxrow">
  
    <div class="box" id="events">
      <h2>Termine</h2>
      <div class="content">  
        <% if @events.size > 0
          @events.each { |event| %>
            <%= render :partial => 'shared/event', :locals => { :event => event } %>
          <% } %>
          <%= link_to "Weitere Veranstaltungen...", event_list_path %>
        <% else %>
            Leider derzeit keine Veranstaltungen.
        <% end %>                
      </div>
    </div> 
  
    <div class="box" id="networks">
      <h2>Vernetze dich</h2>
      <div class="content">
        <%= render :partial => 'shared/networks' %>
      </div>
    </div> 

  </div>
    
  <div class="boxrow">
  
    <!--div class="box box_2wide tabs state-tab1" id="refer">
      <h2>
        Weitersagen
        <ul>
          <li class="tab1"><a href="#" onclick="return tab_switch(this)">Facebook</a></li>
          <li class="tab2"><a href="#" onclick="return tab_switch(this)">E-Mail</a></li>
          <li class="tab2"><a href="#" onclick="return tab_switch(this)">Twitter</a></li>
          <li class="tab4"><a href="#" onclick="return tab_switch(this)">Bloggen</a></li>
        </ul>
      </h2>
      <div class="content">
        <div class="tabcontent tab1">
          <iframe src="http://www.facebook.com/widgets/like.php?href=<%= request.protocol+request.host %>"
            scrolling="no" frameborder="0"
            style="border:none; width:450px; height:80px"></iframe>
        </div>
        <div class="tabcontent tab2">
          <%
            subject = CONFIG["sharing_title"]
            message = CONFIG["sharing_body"]
            link = request.protocol+request.host
          
          if logged_in? %>
            <% form_tag '/geo/mail' do %>
              <p>
                <label>Absender</label>
                <%= "#{current_user.name} &lt;#{current_user.email}>" %>
              </p>
              <p>
                <label>Empfänger</label>
                <input type="text" name="recipient" id="pass_on_recipient"/>
              </p>
              <p>
                <label>Nachricht</label>
                <textarea name="message" id="pass_on_message" rows="4"><%= message %></textarea>
              </p>
              <p>
                <label>&nbsp;</label>
                <input type="submit" value="Senden" />
              </p>
            <% end %>
          <% else %>
            <p>
              Melde dich bitte oben an, um E-Mails direkt von dieser Seite
              versenden zu können &ndash;
              oder <a href="mailto:?subject=<%= subject %>&body=<%= message %>+<%= link %>">schicke einfach selbst eine E-Mail</a>.
            </p>
          <% end %>
        </div>
        <div class="tabcontent tab4">
          <p>
            <a href="mailto:<%= CONFIG['contact_email'] %>">Lass uns wissen</a>, falls du Informationen von uns möchtest...
          </p>
        </div>
        <div class="tabcontent tab2">
          <a href="http://twitter.com/home?status=<%=subject %> <%=link %>"><img src="/images/post/twitter.png" width="64" height="64" title="Per Twitter versenden" /></a>
        </div>
      </div>
    </div-->
    
    <!--div class="box" id="buttons">
      <h2>Für Blog, Profil und Website</h2>
      <div class="content">
        <a href="/buttons">...</a><br />
        Profil image generator / Twibbon / ...?
      </div>
    </div--> 
    
    
  </div>
