<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title><%= @title || CONFIG["title"] %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= javascript_include_tag :defaults %>
    <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAAw-Wv07EcXs7QUUotGk2xBT-j_dSY6Ha2ajsKWuztfDBCn8orhRSoxcY4r_el1-87g0n7K5Zdh5bfA"></script>
    <script type="text/javascript" src="http://connect.facebook.net/de_DE/all.js"></script>
    <%= yield :javascript %>
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <meta name="description" content="<%= CONFIG["sharing_body"] %>" />
    <meta property="og:title" content="<%= CONFIG["sharing_title"] %>" />
    <meta property="fb:page_id" content="<%= CONFIG["facebook_page_id"] %>" /> 
    <meta property="og:image" content="<%= image_path "sharing_image.png" %>" />
  </head>

  <body>
  <% unless @hide_header %>
      <div id="container">
        
        <%= link_to '<img id="logo" src="/images/logo.png" />', root_url %>
        
        <div id="header">
        
          <ul id="topmenu">
            <li<%= " class=\"active\"" if @controller.action_name == 'about' || @controller.controller_name == 'elsewhere' %>><%= link_to "Über mich", root_path %></li>
            <li<%= " class=\"active\"" if @controller.controller_name == 'projects' ||  @controller.controller_name == 'ideas' %>><%= link_to "Projekte", projects_path %></li>
              <li<%= " class=\"active\"" unless ['static', 'questions', 'projects', 'elsewhere', 'ideas'].include?(@controller.controller_name) %>>
                <%= link_to "Mitmachen", participate_path %>
              </li>
            <li<%= " class=\"active\"" if @controller.controller_name == 'questions' %>>
              <%= link_to "Fragen &amp; Antworten", question_list_path %>
            </li>
          </ul>
              
          <div id="menucontainer">
  
            <ul class="menu">
  
              <% if (@controller.controller_name == 'static' && @controller.action_name == 'about') || @controller.controller_name == 'elsewhere' %>
                <li<%= " class=\"active\"" if @controller.action_name == 'about' %>>
                  <%= link_to "Armin Soyka", about_path %>
                </li>
                <li<%= " class=\"active\"" if @controller.action_name == 'team' %>>
                  <%= link_to "Team Armin Soyka", profile_list_path %>
                </li>
                <li<%= " class=\"active\"" if @controller.controller_name == 'elsewhere' %>>
                  <%= link_to "Wir in den Medien", elsewhere_path %>
                </li>
              <% elsif @controller.controller_name == 'projects' || @controller.controller_name == 'ideas' %>
                <li<%= " class=\"active\"" if @controller.controller_name == 'projects' %>>
                  <%= link_to "Aktive Projekte", projects_path %>
                </li>
                <li<%= " class=\"active\"" if @controller.controller_name == 'ideas' %>>
                  <%= link_to "Ideen einbringen", ideas_path %>
                </li>
                <li<%= " class=\"active\"" if @controller.action_name == 'sonstnoch' %>>
                  <%= link_to "Was wir sonst noch so wollen", elsewhere_path %>
                </li>
              <% elsif !['static', 'questions', 'projects', 'ideas'].include?(@controller.controller_name) %>
                <li<%= " class=\"active\"" if @controller.controller_name == 'geo' %>>
                  <%= link_to "Unterstützer werden", participate_path %>
                </li>
                <!--li<%= " class=\"active\"" if @controller.controller_name == 'videos' %>>
                  <%= link_to "Video-Statements", video_path %>
                </li-->
                <li<%= " class=\"active\"" if @controller.controller_name == 'events' %>>
                  <%= link_to "Treffen", event_list_path %>
                </li>
                <!--li<%= " class=\"active\"" if 1==0 %>>
                  <%= link_to "Über diese Seite", '/about' %>
                </li-->
              <% end %>
              
            </ul>
  
            <% if logged_in? %>
              <div id="loggedin">Hallo <strong><%= current_user.name %></strong>!</div>
            <% end %>
            
          </div>

        </div>
    <% end %>  
      <div id="content">  
  
        <%= yield %>
  
        <div class="footer boxrow">
          <a href="/impressum">Impressum</a> &nbsp;
          <a href="/datenschutz">Datenschutz</a> &nbsp;
          <a href="/presse">Presse</a>
          <span class="credits">&nbsp; &ndash; &nbsp; (cc) <a href="http://wiki.github.com/c3o/opencampaign/">openCampaign</a> by <a href="http://soup.c3o.org">Christopher Clay</a></span>
        </div><br /><br />
      </div>

    <% unless @hide_header %>
      </div><!-- container -->
    <% end %>    

    <% if !logged_in? && @render_signup_overlay %>
      <%= render :partial => 'shared/signup' %>
    <% end %>
  </body>
</html>